@model PHXCOM.PlatformSDK.Models.CurrentOrder
@{

    Layout = null;

    if (!string.IsNullOrEmpty(Model.ShippingInfo.Address2))
    {
        Model.ShippingInfo.Address2 = Model.ShippingInfo.Address2 + ", ";
    }

}
<div class="col-12 d-inline-block w-100 rounded border p-3 form-group">
    <div class="row">
        <div class="col-md-2 col-9 d-inline-flex float-left order-1 order-md-1">
            <label>Contact</label>
        </div>
        <div class="col-md-8 col-12 d-inline-flex float-left order-3 order-md-2">
            <label>@Model.ShippingInfo.FirstName @Model.ShippingInfo.LastName, @Model.ShippingInfo.Email</label>
        </div>
        <div class="col-md-2 col-3 d-inline-flex float-left order-2 order-md-3">
            <label><a href="/Order/CustomerInfo" class="icon-color-org"> Change</a></label>
        </div>
    </div>
    <hr class="my-1" />
    <div class="row pt-2">
        <div class="col-md-2 col-9 d-inline-flex float-left order-1 order-md-1">
            <label>ShipTo</label>
        </div>
        <div class="col-md-8 col-12 d-inline-flex float-left order-3 order-md-2">
            <label class="mb-0">
                @Model.ShippingInfo.Address1, @Model.ShippingInfo.Address2@Model.ShippingInfo.City,
                @Model.ShippingInfo.StateName @Model.ShippingInfo.PostalCode, @Model.ShippingInfo.CountryName
            </label>
        </div>
        <div class="col-md-2 col-3 d-inline-flex float-left order-2 order-md-3">
            <label><a href="/Order/CustomerInfo" class="icon-color-org"> Change</a></label>
        </div>
    </div>

</div>