@model List<PHXCOM.PlatformSDK.Models.ItemFitment>
@{
    Layout = null;
}

<div id="itemFitmentContainer" class="col-lg-12 px-0">
    <div class="table-responsive wrapper-fitment-map">
        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th scope="col" class="col_0">Image</th>
                    <th scope="col" class="col_1">Application</th>
                    <th scope="col" class="col_2">Position</th>
                    <th scope="col" class="col_3">Sub Model</th>
                    <th scope="col" class="col_4">Body/Style/Trim</th>
                    <th scope="col" class="col_5">Qty</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="col text-center"><img src="@item.ApplicationImage" width="48" height="34" /></td>
                            <td data-label="Type : &nbsp;">@item.ApplicationName</td>
                            <td data-label="Size : &nbsp;">@item.Position</td>
                            <td data-label="Last updated : &nbsp;">@item.SubModel</td>
                            <td data-label="Last updated : &nbsp;">@item.Trim</td>
                            <td data-label="Last updated : &nbsp;">@item.Quantity</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
