@model PIMento.Demo.Web.Models.CategoryLandingModel
@{
    ViewData["Title"] = Model.Section;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdnCurrentNavName" value="parts" />

<div class="container py-4 py-md-5">
    <div class="mb-4">
        <h1 class="mb-2">@Model.Section</h1>
        <p class="mb-0">@Model.Summary</p>
    </div>

    <div class="row">
        @foreach (var card in Model.Cards)
        {
            <div class="col-12 col-md-6 mb-4">
                <div class="border rounded p-4 h-100 bg-white">
                    <h3 class="h5 mb-2">@card.Name</h3>
                    <p class="mb-3">@card.Description</p>
                    <a class="common-orange-button px-3 py-1" href="@card.Link">Browse Products</a>
                </div>
            </div>
        }
    </div>
</div>
