@model PHXCOM.PlatformSDK.Models.Product
@{
    string metaTitle = "";
    string metaDescription = "";
    string metakeyWords = "";
    string metaRobots = "";
    bool isSalePriceAvailable = false;

    decimal? price = Model.Items.FirstOrDefault().Pricing.FirstOrDefault().Price;
    decimal? salePrice = 0;

    var tempProp = Model.Items.FirstOrDefault().Pricing.Where(x => x.IsOnSale ?? true && x.SaleStartDate <= DateTime.Now && (x.SaleEndDate == null || x.SaleEndDate > DateTime.Now)).FirstOrDefault();
    if (tempProp != null)
    {
        salePrice = Model.Items.FirstOrDefault().Pricing.Where(x => x.IsOnSale ?? true && x.SaleStartDate <= DateTime.Now && (x.SaleEndDate == null || x.SaleEndDate > DateTime.Now)).Select(o => o.SalePrice).First();
        isSalePriceAvailable = true;
    }


    int modifiersCount = 0;
    if (Model.Modifiers != null && Model.Modifiers.Count > 0) modifiersCount = Model.Modifiers.Count;


    if (Model.ProductMetaData != null && Model.ProductMetaData.Count > 0)
    {
        if (!string.IsNullOrEmpty(Model.ProductMetaData[0].MetaTitle))
        {
            ViewData["Title"] = Model.ProductMetaData[0].MetaTitle;
        }
        else
        {
            ViewData["Title"] = Model.ProductName;
        }

        metaTitle = Model.ProductMetaData[0].MetaTitle;
        metaDescription = string.IsNullOrEmpty(Model.ProductMetaData[0].MetaDescription) ? "" : Model.ProductMetaData[0].MetaDescription;
        metakeyWords = string.IsNullOrEmpty(Model.ProductMetaData[0].MetaKeywords) ? "" : Model.ProductMetaData[0].MetaKeywords;
        metaRobots = string.IsNullOrEmpty(Model.ProductMetaData[0].MetaRobots) ? "" : Model.ProductMetaData[0].MetaRobots;
    }


    ViewData["Description"] = metaDescription;
    ViewData["Keywords"] = metakeyWords;
    ViewData["Robots"] = (metaRobots == null ? "" : metaRobots);

    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<string> breadCrumbs = ViewBag.breadCrumbs;
    Dictionary<string, string> breadCrumbs = ViewBag.breadCrumbs;
    string colourPickerVisibility = "";



    bool hasQty = true;
    int qtyMultiplier = 1;
    int defaultQTY = 1;
    int maxQTY = 10;
    int minQty = 0;
}


<input type="hidden" id="hdnProductId" value="@Model.ProductId" />
<input type="hidden" id="hdnProductName" value="@Model.ProductName" />
<input type="hidden" id="hdnisProductUniversal" value="@Model.IsUniversal" />
<input type="hidden" id="hdnModifiersCount" value="@modifiersCount" />
<input type="hidden" id="hdnSalePriceAvailable" value="@isSalePriceAvailable.ToString()" />
<input type="hidden" id="hdnSalePrice" value="@salePrice" />
<input type="hidden" id="hdnRegularPrice" value="@price" />

<div id='syndicateHolder'>

    <div class="wrapper-page-full justify-content-md-center">
        <div class="col-lg-12 col-md-12 col-sm-12 position-relative wrapper-search-description">
            <div class="">
                <div class="row wrapper-product pb-4">
                    <div id="syndicationBreadcrumbContainer" class="breadcrumbs">
                        <div class="container">@await Html.PartialAsync("BreadCrumbView", breadCrumbs)</div>
                    </div>
                </div>
            </div>

            <div class="container header-separator-bc mobile-controlled mt-2 px-0">
                <div class="justify-content-md-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 pr-0 pl-0 ">
                        <div class="col-lg-12 col-md-12 col-sm-12 mobile-controlled-padding box-actions ">
                            <div class="col-lg-6 col-md-12 col-sm-12 pr-0 pl-0 pb-2  float-right item-contentconfig-area" id="productDetailContainer">
                                <div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 pt-2 pl-md-3 pr-md-3 pl-lg-3 pr-lg-3 pl-xl-3 pr-xl-3">
                                        <h2 class="wrapper-product-header" style="margin-top:0;">@Model.ProductName</h2>
                                    </div>
                                    <div class="wrapper-product-description col-lg-12 col-md-12 col-sm-12 pl-md-3 pr-md-3 pl-lg-3 pr-lg-3 pl-xl-3 pr-xl-3">
                                        <p class="mb-0">@Model.ShortDescription</p>
                                    </div>
                                </div>
                                <div class="col-12">

                                    <div id="hdnModifiersContainer">
                                        @if (Model.Modifiers != null)
                                        {
                                            @await Html.PartialAsync("~/Views/Product/ProductModifierView.cshtml", Model.Modifiers)
                                        }
                                    </div>

                                    @*<div id="modifiersContainer" style="display:none">
                                            @if (Model.Modifiers != null)
                                            {
                                                for (int i = 1; i <= Model.Modifiers.Count; i++)
                                                {
                                                    <div id="modifier_selector_@i" class="col-lg-12 text-align-right mt-3"></div>
                                                }
                                            }
                                            <div id="personalize-mod-container" class="col-lg-12 text-align-right mt-3"></div>
                                        </div>*@



                                </div>

                            </div>
                            @*<h3>Choose your custom fit</h3>*@

                            @*<div id="modifiersContainer" style="display:none">
                                    @if (Model.Modifiers != null)
                                    {
                                        for (int i = 1; i <= Model.Modifiers.Count; i++)
                                        {
                                            <div id="modifier_selector_@i" class="col-lg-12 text-align-right  mt-3"></div>
                                        }
                                    }
                                    <div id="personalize-mod-container" class="col-lg-12 text-align-right mt-3"></div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 pl-0 pr-0 pl-lg-3 pr-lg-3 pr-md-3 pl-md-3 pl-xl-3 pr-xl-3 wrapper-item-images images-section float-left" id="productImagePreviewContainer">
                        <div>
                            <div class="preview">
                              



                                <div class="preview-pic tab-content">
                                    <div class="tab-pane  easyzoom easyzoom--adjacent main-picture active" id="pic_0">
                                        <a href="javscript:return void(0);">
                                            <img src="@Model.ImageFull" class="zoom-img zoom-img-customize" id=""  data-zoom-image="@Model.ImageFull" />
                                        </a>
                                    </div>
                                    @{
                                        var count = 1;
                                        if (Model.AdditionalImages!=null)
                                        {
                                        foreach (var item in Model.AdditionalImages)
                                        {

                                            if (!string.IsNullOrEmpty(item.videoUrl))
                                            {
                                                string embed = "/embed/";
                                                int embedIndex = item.videoUrl.IndexOf(embed);
                                                string relativeUrl = item.videoUrl.Substring(embedIndex + embed.Length);
                                                int pos = relativeUrl.IndexOf("\"");
                                                string newfilename = relativeUrl.Substring(0, pos);
                                                <div class="tab-pane" id="pic_@count">
                                                    <div class="youtube" data-embed="@newfilename">
                                                        <div class="play-button"></div>
                                                        <div class="img-wrapper-yout"></div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="tab-pane main-picture" id="pic_@count">
                                                    <a href="javascript:return void(0);"><img src="@item.Image" /></a>
                                                    @if (!string.IsNullOrEmpty(@item.Caption))
                                                    {
                                                        <label class="width-100pc displayInlineBlock margin-top-15 padding-8">@item.Image </label>
                                                    }

                                                </div>
                                            }
                                            count++;
                                        }
                                        }
                                    }
                                </div>
                                <div class="wrapper-image-description">
                                    <h3>Example image(s) do not necessarily reflect exact applications.</h3>
                                </div>
                                <ul id="gallery_01" class="preview-thumbnail nav nav-tabs">
                                    @{
                                        <li class="thumb active"><a data-target="#pic_0" video-src="" data-toggle="tab" data-update="" data-image="@Model.ImageFull" data-zoom-image="@Model.ImageFull" href="#" class="elevatezoom-gallery"><span style="display:none;" class="video-tumb-wrapper"><i class="fa fa-play" aria-hidden="true"></i></span><img src="@Model.ImageFull" /></a></li>

                                        // <li class="thumb active"><a href="#" data-target="#pic_0" class="elevatezoom-gallery" data-update="" data-image="@Model.ImageFull" data-zoom-image="@Model.ImageFull"><img src="@Model.ImageFull" /></a></li>
                                        var counts = 1;
                                        var videoSrc = "";
                                        var videoClass = "";
                                        var productImage = "";

                                        if (Model.AdditionalImages != null)
                                        {
                                            foreach (var item in Model.AdditionalImages)
                                            {
                                                if (item.videoUrl != null && item.videoUrl != "")
                                                {
                                                    string embed = "/embed/";
                                                    int embedIndex = item.videoUrl.IndexOf(embed);
                                                    string relativeUrl = item.videoUrl.Substring(embedIndex + embed.Length);
                                                    int pos = relativeUrl.IndexOf("\"");
                                                    string newfilename = relativeUrl.Substring(0, pos);
                                                    videoSrc = "true";
                                                    if (!string.IsNullOrEmpty(item.Image))
                                                    {
                                                        productImage = item.Image;
                                                    }
                                                    else
                                                    {
                                                        productImage = "https://img.youtube.com/vi/" + newfilename + "/0.jpg";
                                                    }
                                                    videoClass = "display:inline-block;";
                                                    //videoClass = "display:inline-block;";
                                                    //videoSrc = "true";
                                                    //videoClass = "display:inline-block;";
                                                    //productImage = "https://img.youtube.com/vi/" + item.videoUrl + "/0.jpg";
                                                }
                                                else
                                                {
                                                    productImage = item.Image;
                                                    videoClass = "display:none;";
                                                }
                                                @*if (videoSrc == "true")
                    {
                        <li class="thumb"><a data-target="#pic_@counts" video-src="@videoSrc" data-toggle="tab" data-update="" data-image="@productImage" href="#"><span style="@videoClass" class="video-tumb-wrapper"><i class="fa fa-play" aria-hidden="true"></i></span><img src="@productImage" /></a></li>

                    }
                    else
                    {
                        <li class="thumb"><a data-target="#pic_@counts" video-src="@videoSrc" data-toggle="tab" data-update="" data-image="@productImage" data-zoom-image="@productImage" href="#" class="elevatezoom-gallery"><span style="@videoClass" class="video-tumb-wrapper"><i class="fa fa-play" aria-hidden="true"></i></span><img src="@productImage" /></a></li>
                    }*@
                                                <li>
                                                    <a data-target="#pic_@counts" video-src="@videoSrc position-relative" data-toggle="tab" style="position:relative;"><span style="@videoClass" class="video-tumb-wrapper"><i class="fa fa-play" aria-hidden="true"></i></span><img src="@productImage" /></a>
                                                </li>
                                                counts++;

                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            @*@if (ViewBag.isLeadEnable)
                                {
                                    <div class="mt-4 col-lg-12 form-group wrapper-need-help"> Need help? <a href="javascript:return void(0);" onclick="leadsandInqueryPop(0)"> Contact us </a>  and we’ll make sure everything fits. </div>
                                }*@
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="w-100 d-inline-block" />
                    <div id="colourSelectContainer" class="col-lg-12 mt-3">
                        @*@if (Model.Items != null && Model.Items.Count > 1)
                            {
                                colourPickerVisibility = "display:none";
                                <div>
                                    <h4 class="my-3 text-uppercase"> Select Color</h4>
                                    <table class='product-lists wrapper-modifier-selector wrapper-set-white-bg'>
                                        <tr>
                                            @foreach (var colour in Model.Items)
                                            {
                                                <td class='wrapper-modifier'><div onclick="selectItemByColour('@colour.Color',this)"> <div class='image'> <img src='@colour.ItemImage'></div><div class='text'>@colour.Color </div></div></td>
                                            }
                                        </tr>
                                    </table>
                                </div>
                            }*@
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid tbl-item mb-5">
        <div class="container px-0">
            <div class="col-lg-12 px-0">
                <div class="table-responsive" id="divItemDeatisl" style="@colourPickerVisibility">
                    <table class="table table-bordred table-striped tbl-select-chkbox-align general-template" id="tbProductItem">
                        <thead>
                            <tr class="mobile-tr">
                                <th scope="col" class="col_4 item-number">Item Number</th>
                                <th scope="col" class="col_0 description">Description</th>
                                <th scope="col" class="col_4 text-right price">Price</th>
                                <th scope="col" class="col_4 text-md-right quantity">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items != null)
                            {
                                var itemno = 0;
                                if (Model.Items.Count == 1)
                                {
                                    minQty = 1;
                                }
                                foreach (var item in Model.Items)
                                {

                                    <tr>
                                        <td data-label="Item Number : &nbsp;">@item.ItemNumber</td>
                                        <td data-label="Description : &nbsp;">@item.ItemDetails</td>


                                        @if (isSalePriceAvailable)
                                        {
                                            <td data-label="Price : &nbsp;" class="text-right">
                                                <span class="w-100 d-inline-block text-decoration-line-through">@(price.Value.ToString("C") + "/" + item.Units)</span>
                                                <span class="w-100 d-inline-block" id="salePrice1">@(salePrice.Value.ToString("C") + "/" + item.Units)</span>

                                            </td>
                                        }
                                        else
                                        {
                                            <td data-label="Price : &nbsp;" class="text-right" id="regularPrice1">@(price.Value.ToString("C") + "/" + item.Units)</td>
                                        }

                                        @if (item.IsObsolete)
                                        {
                                            <td class="quantity item-input text-right float-lg-left" data-label="Quantity: &nbsp;">
                                                <div class="float-right">
                                                    Discontinued
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="quantity item-input text-right" data-label="Quantity: &nbsp;">
                                                <div class="float-right ml-3 quantity-new-update">
                                                    @{
                                                        hasQty = true;
                                                        item.MaxQuantity = item.MaxQuantity == 0 ? 100 : item.MaxQuantity;

                                                        if (!item.CalculateInventory)
                                                        {
                                                            hasQty = true;
                                                        }
                                                        else if (item.CalculateInventory)
                                                        {
                                                            if (item.QuantityInStock > 0 && item.MaxQuantity >= item.QuantityInStock)
                                                            {
                                                                item.MaxQuantity = item.QuantityInStock ?? 0;
                                                            }
                                                            else if (item.NextRestockDate != null || item.QuantityInStock == 0)
                                                            {
                                                                hasQty = false;
                                                            }
                                                        }

                                                        if (hasQty)
                                                        {
                                                            itemno++;
                                                            qtyMultiplier = item.QtyMultiplier == 0 ? 1 : item.QtyMultiplier.GetValueOrDefault();
                                                            if (itemno > 1)
                                                            {
                                                                defaultQTY = 0;
                                                            }
                                                            else
                                                            {
                                                                defaultQTY = item.MinQuantity == 0 ? 1 : item.MinQuantity.GetValueOrDefault();
                                                            }
                                                            maxQTY = item.MaxQuantity.GetValueOrDefault();

                                                            int qtySelectorValue = 0;
                                                            if (!item.CalculateInventory || item.QuantityInStock != 0)
                                                            {
                                                                for (var i = defaultQTY; i <= maxQTY; i++)
                                                                {
                                                                    if (qtyMultiplier == 1)
                                                                    {
                                                                        qtySelectorValue = i;
                                                                    }
                                                                    else if (i % qtyMultiplier == 0)
                                                                    {
                                                                        qtySelectorValue = i;
                                                                    }
                                                                }
                                                                <input type="number" class="buttons-only qty-collector w-58 px-2 text-center float-left" id="qty_@item.ItemId" skuId="@item.ItemId" value="@defaultQTY" min="@minQty" max="@qtySelectorValue" maxQty="@qtySelectorValue" style="display: none;" />
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (string.IsNullOrEmpty(item.InventoryMessage))
                                                            {
                                                                <label>Out of stock</label>
                                                            }
                                                            else
                                                            {
                                                                <label>@item.InventoryMessage</label>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </td>
                                        }
                                        @*<td class="quantity item-input text-right" data-label="Quantity: &nbsp;">
                                                <input class="qty-collector w-100 px-2 text-right ml-2 ml-md-0" type="text" min="0" max="999" id="qty_@item.ItemId" skuId="@item.ItemId" value="0" />
                                                    <span onclick="orderEntry.qtyHandler(@item.ItemNumber,-1)"><i class="far fa-minus-square font-weight-bold cursor-pointer"></i></span>
                                                    <span onclick="orderEntry.qtyHandler(@item.ItemNumber,1)"><i class="far fa-plus-square font-weight-bold cursor-pointer"></i></span>
                                                <div class="float-right">
                                                    <span onclick="orderEntry.qtyHandler(@item.ItemId,-1)" class="float-left minus-btn"><i class="far fa-minus font-weight-bold cursor-pointer"></i></span>
                                                    <input class="qty-collector w-58 px-2 text-center float-left" type="text" onkeyup="" min="0" max="999" id="qty_@item.ItemId" skuId="@item.ItemId" value="0" />
                                                    <span onclick="orderEntry.qtyHandler(@item.ItemId,1)" class="plus-btn float-left"><i class="far fa-plus font-weight-bold cursor-pointer"></i></span>
                                                    <input type="number" min="0" max="8"/>
                                                </div>

                                                <div class="mt-0 mt-md-1 d-inline-block w-100 w-sm-100 ">
                                                        <button onclick="" class="common-button update-btn w-100 ml-2 ml-md-0">Update</button>
                                                    </div>
                                            </td>*@
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 mt-4 pr-0 text-right">
                <button type="button" class="common-orange-button px-4" onclick="orderEntry.addToBucket()">Add to Cart</button>
            </div>
            <div class="clearfix"></div>
            @*<div class="row" hidden id="hdnModifiersContainer">
                    @if (Model.Modifiers != null)
                    {
                        @await Html.PartialAsync("~/Views/Product/ProductModifierView.cshtml", Model.Modifiers)
                    }
                </div>*@

            @*@if (ViewBag.syncUserType == "dcom")
                {
                    <div class="row">
                        <div class="col-lg-12 text-align-right wrapper-btn-addcart mt-3">
                            <a href='javascript:return void(0);' style="margin-right: 31px;" onclick='addToCartSample(4)'>JSON Data</a>
                            <button type="button" onclick='proceedToCart()'><i class="fab fa-opencart"></i> Add to cart</button>
                            <button type='button' onclick='proceedToCart()' id='btnAddToCart'><span class='signal'></span><i class='fab fa-opencart'></i><span class='wrapper-add-cart-txt'> Add to cart </span><div class='cart-loading'>Processing</div></button>

                        </div>
                    </div>
                }*@
            <div class="clearfix"></div>

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="col-12">
        <hr class="" />
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid  mt-5 wrapper-pattern-row wrapper-tab-pils float-left">
        @{
            var visibilityDescription = "";
            var visibilityDocument = "";
            var visibilityProducts = "";
            var visibilityArticles = "";
            var visibilityTabs = "";
            var visibilityAttributes = "";
            var visibilityApplications = "";


            if (string.IsNullOrEmpty(Model.LongDescription))
            {
                visibilityDescription = "display:none !important";
            }
            if (Model.ProductDocuments == null)
            {
                visibilityDocument = "display:none !important";
            }
            if (Model.RelatedProducts == null)
            {
                visibilityProducts = "display:none !important";
            }
            if (Model.Articles == null)
            {
                visibilityArticles = "display:none !important";
            }
            if (Model.Tabs == null)
            {
                visibilityTabs = "display:none !important";
            }

            if (Model.ProductApplications == null)
            {
                visibilityApplications = "display:none !important";
            }

            if (Model.ProductAttributes == null)
            {
                visibilityAttributes = "display:none !important";
            }

        }
        <div class="container px-0 mb-3" id="additionalContentContainer">
            <div class="justify-content-md-center">
                <div class="px-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 px-0 mobile-controlled wrapper-tabs-pils-section">
                        <input id="tab1" type="radio" class="tabs-pils" onclick="loadTabs(this)" prefer="content1" name="tabs" checked style="@visibilityDescription">
                        <label for="tab1" style="@visibilityDescription">Description</label>
                        <input id="tab5" class="tabs-pils" onclick="loadTabs(this)" prefer="content5" type="radio" name="tabs" style="@visibilityAttributes">
                        <label for="tab5" style="@visibilityAttributes">Attributes</label>
                        <input id="tab2" class="tabs-pils" onclick="loadTabs(this)" prefer="content2" type="radio" name="tabs" style="@visibilityDocument">
                        <label for="tab2" style="@visibilityDocument">Documents</label>
                        <input id="tab3" class="tabs-pils" onclick="loadTabs(this)" prefer="content3" type="radio" name="tabs" style="@visibilityProducts">
                        <label for="tab3" style="@visibilityProducts">Related</label>
                        <input id="tab4" class="tabs-pils" onclick="loadTabs(this)" prefer="content4" type="radio" name="tabs" style="@visibilityApplications">
                        <label for="tab4" style="@visibilityApplications">Vehicles</label>
                        <input id="tab6" class="tabs-pils" onclick="loadTabs(this)" prefer="content6" type="radio" name="tabs" style="@visibilityArticles">
                        <label for="tab6" style="@visibilityArticles">Support</label>


                        @if (Model.Tabs != null)
                        {
                            @await Html.PartialAsync("ProductTab", Model.Tabs)
                        }

                        <section id="content1" class="tabs-content-wrapper" style="@visibilityDescription">
                            <div class="col-lg-12 col-md-12">
                                @Html.Raw(Model.LongDescription)
                            </div>
                        </section>
                        <section id="content5" class="products tabs-content-wrapper" style="@visibilityAttributes">
                            <div class="col-lg-12 pl-0 pr-0">
                                <div class="table-responsive table-mobile">
                                    <table class="table table-bordred table-striped">
                                        @*<thead>
                                                <tr>
                                                    <th scope="col" class="text-align-center col_img_th"></th>
                                                    <th scope="col" class="col_0">Image</th>
                                                    <th scope="col" class="col_1">Attribute</th>
                                                    <th scope="col" class="col_1">Type</th>
                                                    <th scope="col" class="col_1">Value(s)</th>
                                                </tr>
                                            </thead>*@
                                        <tbody>
                                            @if (Model.ProductAttributes != null)
                                            {
                                                foreach (var item in Model.ProductAttributes)
                                                {
                                                    <tr>
                                                        @if (!string.IsNullOrEmpty(item.attributeDefaultImage))
                                                        {
                                                            <td><img src="@item.attributeDefaultImage"></td>
                                                        }

                                                        <td data-label="Attribute : &nbsp;">@item.attributeName</td>
                                                        @*<td data-label="Type : &nbsp;">@item.attributeType</td>*@
                                                        <td data-label="Value : &nbsp;">@item.attributeValue</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <section id="content2" class="tabs-content-wrapper product-document" style="@visibilityDocument">
                            <div class="col-lg-12 pl-0 pr-0">
                                <div class="table-responsive table-mobile">
                                    <table class="table table-bordred table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col_0">Label</th>
                                                <th scope="col" class="col_1">Document</th>
                                                <th scope="col" class="col_2">Size</th>
                                                <th scope="col" class="col_3">Type</th>
                                                <th class="col grid-button-wrapper-header"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ProductDocuments != null)
                                            {
                                                foreach (var item in Model.ProductDocuments)
                                                {
                                                    <tr>
                                                        <td data-label="Label : &nbsp;">@item.Label</td>
                                                        <td data-label="Document : &nbsp;">@item.DocumentName</td>
                                                        <td data-label="Size : &nbsp;">@item.Bytes KB </td>
                                                        <td data-label="Type : &nbsp;">@item.Type</td>
                                                        <td class="text-align-center tbl-button-wrapper "><a class="grid-button" target="_blank" href="@item.Location">Download</a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </section>
                        <section id="content3" class="products tabs-content-wrapper" style="@visibilityProducts">
                            <div class="col-lg-12 pl-0 pr-0">
                                <div class="table-responsive table-mobile">
                                    <table class="table table-bordred table-striped">
                                        <thead>
                                            <tr>
                                                @*<th scope="col" class="text-align-center col_img_th"></th>*@
                                                <th scope="col" class="col_0">Product Code</th>
                                                <th scope="col" class="col_1">Product</th>
                                                <th scope="col" class="col_0">Type</th>
                                                <th scope="col" class="col_1">Discount Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.RelatedProducts != null)
                                            {
                                                foreach (var item in Model.RelatedProducts)
                                                {
                                                    <tr>
                                                        @*<td class="text-align-center tble-tr-image"><a href="javascript: return void(0);"><img src="@item.Image" onclick="jumpProductView(@item.RelatedProductId,true,true,'@item.ProductName')" /></a></td>*@
                                                        <td data-label="Product Code : &nbsp;">@item.RelatedProductCode</td>
                                                        <td data-label="Product : &nbsp;">@item.RelatedProductName</td>
                                                        <td data-label="Type : &nbsp;">@item.TypeName</td>
                                                        <td data-label="Discount Amount : &nbsp;"></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <section id="content4" class="tabs-content-wrapper" style="@visibilityApplications">
                            <div class="col-lg-12 col-md-12 pl-0 pr-0">
                                <div class="table-responsive table-mobile">
                                    <table class="table table-bordred table-striped wrapper-tbl-issue-finder">
                                        <thead>
                                            <tr>
                                                @*<th scope="col" class="text-align-center col_img_th"></th>*@
                                                <th scope="col" class="col_0 w-25pc">Application</th>
                                                @*<th scope="col" class="col_1 text-center">Fitmants</th>*@
                                                <th scope="col" class="col_1 w-15pc">Make</th>
                                                <th scope="col" class="col_1 w-15pc">Model</th>
                                                <th scope="col" class="col_1 w-15pc">Year</th>
                                                <th scope="col" class="col_1">Description</th>
                                                <th class="th_2 w-25pc"></th>
                                                @*<th scope="col" class="text-align-right button-wrapper-header"></th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ProductApplications != null)
                                            {

                                                foreach (var item in Model.ProductApplications)
                                                {

                                                    <tr>
                                                        <td>@item.ApplicationName</td>

                                                        <td>@item.Make</td>
                                                        <td>@item.Model</td>
                                                        <td>@item.Year</td>
                                                        <td>@item.ProductApplicationDescription</td>
                                                        <td class="col text-center grid-button-wrapper">
                                                            <span onclick="getApplicationFitments(@Model.ProductId, @item.ApplicationId, '@item.ApplicationName')" class="common-orange-button px-4"><i class="fas fa-info-circle"></i> More Info</span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <section id="content6" class="tabs-content-wrapper" style="@visibilityArticles">
                            <div class="col-lg-12 col-md-12 pl-0 pr-0">
                                <div class="table-responsive table-mobile">
                                    <table class="table table-bordred table-striped wrapper-tbl-issue-finder">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-align-center col_img_th"></th>
                                                <th scope="col" class="col_0">Name</th>
                                                <th scope="col" class="col_1">Reference Number</th>
                                                <th scope="col" class="col_1">Type</th>
                                                <th scope="col" class="col_1">Status</th>
                                                <th scope="col" class="text-align-right button-wrapper-header"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Articles != null)
                                            {

                                                foreach (var item in Model.Articles)
                                                {

                                                    <tr>
                                                        <td class="text-align-center tble-tr-image" data-label="Label : &nbsp;">
                                                            @if (!string.IsNullOrEmpty(item.imageThumb))
                                                            {
                                                                <img src="@item.imageThumb" />
                                                            }
                                                        </td>
                                                        <td data-label="Name : &nbsp;">@item.serviceArticleName</td>
                                                        <td data-label="Reference Number : &nbsp;">@item.ReferenceNumber</td>
                                                        <td data-label="Type : &nbsp;">@item.type</td>
                                                        <td data-label="Status : &nbsp;">@item.Status</td>
                                                        @*<td data-label="Title (issue) : &nbsp;">@item.issue <br />@item.type</td>
                                                            <td data-label="">@item.description</td>*@
                                                        <td><div class="text-align-right text-primary cursor-pointer pr-2"><button class="grid-button" onclick="loadArticleWindow('@item.issue','This is where content goes to help the user install the product.')">View</button></div></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@await Html.PartialAsync("~/Views/Product/CommonPopupView.cshtml")

@section Scripts
{

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/content.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {
            setCookieValuesToAppProp();
            var imgWidth = $('.zoom-img').width();
            var imgHeight = $('.zoom-img').height();

            if ($(window).width() < 992) {
                var zoomtype = 'lens';
            } else {
                var zoomtype = 'window';
            }

            $("#zoom_03").ezPlus({
                gallery: 'gallery_01',
                cursor: 'pointer',
                galleryActiveClass: "active",
                imageCrossfade: true,
                scrollZoom: true,
                borderColour: '#eee',
                zoomWindowOffsetX: 23,
                zoomWindowOffsetY: -2,
                zoomWindowHeight: imgHeight,
                zoomWindowWidth: imgWidth,
                responsive: true,
                zoomType: zoomtype,
                lensSize: 200
            });

        });

     
    </script>

    <script>
        //$("input[type='number']").inputSpinner();
        $(".buttons-only").inputSpinner({ buttonsOnly: true });
    </script>
     <script src="~/js/easyzoom.js"></script>
}



