@model PHXCOM.PlatformSDK.Models.Product
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> breadCrumbs = ViewBag.breadCrumbs;
}
<div id="syndicationBreadcrumbContainer" class="breadcrumbs">
    <div class="container">
        @await Html.PartialAsync("BreadCrumbView", breadCrumbs)
    </div>
</div>
<div class="container">
    <div class="row wrapper-product pb-4">
        <div class="col-12 mt-2">
            <h1 class="page-header text-center text-md-left">@Model.ProductName</h1>
        </div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-md-4 col-7 mx-auto mb-4 mb-md-0">
                    <img src="@Model.ImageFull" class="w-100 img-full" />
                </div>
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-12 item-long-description">
                            @*@Html.Raw(Model.LongDescription)*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordred table-striped" id="tbProductItem">
                                    <thead>
                                        <tr class="mobile-tr">
                                            <th scope="col" class="col_0">Item Number</th>
                                            <th scope="col" class="col_1">Description</th>
                                            <th scope="col" class="col_0 text-right">Price</th>
                                            <th scope="col" class="col_4 text-md-right">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Items != null)
                                        {
                                            foreach (var item in Model.Items)
                                            {
                                                <tr>
                                                    <td data-label="Item Number : &nbsp;">@item.ItemNumber</td>
                                                    <td data-label="Description : &nbsp;">@item.ItemDetails</td>
                                                    <td data-label="Price : &nbsp;" class="text-right">@(item.SuggestedPrice.Value.ToString("C"))</td>
                                                    <td class="quantity item-input text-right float-lg-left" data-label="Quantity: &nbsp;">
                                                        @*<input class="qty-collector w-100 px-2 text-right ml-2 ml-md-0" type="text" min="0" max="999" id="qty_@item.ItemId" skuId="@item.ItemId" value="0" />
                                                            <span onclick="orderEntry.qtyHandler(@item.ItemNumber,-1)"><i class="far fa-minus-square font-weight-bold cursor-pointer"></i></span>
                                                            <span onclick="orderEntry.qtyHandler(@item.ItemNumber,1)"><i class="far fa-plus-square font-weight-bold cursor-pointer"></i></span>*@
                                                        <div class="float-right">
                                                            <span onclick="orderEntry.qtyHandler(@item.ItemId,-1)" class="float-left minus-btn"><i class="far fa-minus font-weight-bold cursor-pointer"></i></span>
                                                            <input class="qty-collector w-58 px-2 text-center float-left" type="text" onkeyup="" min="0" max="999" id="qty_@item.ItemId" skuId="@item.ItemId" value="0" />
                                                            <span onclick="orderEntry.qtyHandler(@item.ItemId,1)" class="plus-btn float-left"><i class="far fa-plus font-weight-bold cursor-pointer"></i></span>
                                                        </div>

                                                        @*<div class="mt-0 mt-md-1 d-inline-block w-100 w-sm-100 ">
                                                                <button onclick="" class="common-button update-btn w-100 ml-2 ml-md-0">Update</button>
                                                            </div>*@
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12 mt-4 pr-0 text-right">
                            <button type="button" class="common-orange-button px-4" onclick="orderEntry.addToBucket()">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @await Html.PartialAsync("~/Views/Product/CommonPopupView.cshtml")


