@model PHXCOM.PlatformSDK.Models.Contact

@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var countries = ViewBag.Countries as List<PHXCOM.PlatformSDK.Models.Country>;

}

@if (Model.ContactId > 0)
{
    <input type="hidden" id="hdnTarget" value="@ViewBag.Target" />
    <input type="hidden" value="@Model.ContactId" id="hdnContactId" />
    <input type="hidden" value="false" id="hdnMyVehicleSave" />

    <div class="container">
        <div id="accountInfoContainer">

            <div class="col-12 form-group wrapper-account-page mb-0">


                <div class="row">


                    <div id="accordion" class="w-100 d-inline-block mt-4">

                        <form id="frmAccountInfo">
                            <div class="card">
                                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5 class="mb-0 d-inline-block">
                                        <button class="btn btn-link">
                                            Account Information
                                        </button>
                                    </h5>
                                    <i class="fas fa-angle-down float-right mt-2"></i>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body px-0 px-md-3">

                                        <div class="form-group col-12 d-inline-block  mb-0 mb-md-3 px-0 px-md-3">
                                            <div class="col-md-4 float-left mb-3 mb-md-0">
                                                <label>First Name</label>
                                                <input type="text" value="@Model.ContactFirstName" required id="txtFirstName" name="txtFirstName" placeholder="First Name" class="form-control" />
                                            </div>
                                            <div class="col-md-4 float-left mb-3 mb-md-0">
                                                <label>Last Name</label>
                                                <input type="text" value="@Model.ContactLastName" required id="txtLastName" name="txtLastName" placeholder="Last Name" class="form-control" />
                                            </div>
                                            <div class="col-md-4 float-left  mb-3 mb-md-0">
                                                <label>Company</label>
                                                <input type="text" value="@Model.ContactCompany" id="txtCompany" name="txtCompany" placeholder="Company" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="form-group col-12 d-inline-block  mb-0 mb-md-3 px-0 px-md-3">
                                            <div class="col-md-6 float-left mb-3 mb-md-0">
                                                <label>Address Line 1</label>
                                                <input type="text" value="@Model.ContactAddress" required id="txtAddress1" name="txtAddress1" placeholder="Address Line 1" class="form-control" />
                                            </div>
                                            <div class="col-md-6 float-left mb-3 mb-md-0 ">
                                                <label>Address Line 2</label>
                                                <input type="text" value="@Model.ContactAddress2" id="txtAddress2" name="txtAddress2" placeholder="Address Line 2" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group col-12 d-inline-block  mb-0 mb-md-3 px-0 px-md-3">
                                            <div class="col-md-4 float-left mb-3 mb-md-0">
                                                <label>City</label>
                                                <input type="text" value="@Model.ContactCity" required id="txtCity" name="txtCity" placeholder="City" class="form-control" />
                                            </div>
                                            <div class="col-md-4 float-left mb-3 mb-md-0">
                                                <label>Country</label>
                                                <select class="form-control required" id="ddlCountry" name="ddlCountry" onchange="generalHandlers.getStatesByCountry()">
                                                    <option value="">--Select--</option>
                                                    @if (countries != null)
                                                    {
                                                        foreach (var item in countries)
                                                        {
                                                            if (item.CountryCode == Model.ContactCountry)
                                                            {
                                                                <option selected value="@item.CountryId" code="@item.CountryCode">@item.CountryName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.CountryId" code="@item.CountryCode">@item.CountryName</option>
                                                            }
                                                        }

                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-2 float-left mb-3 mb-md-0">
                                                <label>State</label>
                                                <select id="ddlState" name="ddlState" required placeholder="State" class="form-control required">
                                                    <option value="">--Select--</option>
                                                </select>

                                            </div>
                                            <div class="col-md-2 float-left mb-3 mb-md-0">
                                                <label>Postal Code</label>
                                                <input type="text" value="@Model.ContactPostal" required id="txtPostalCode" name="txtPostalCode" placeholder="Postal Code" class="form-control" />

                                            </div>




                                        </div>
                                        <div class="col-md-12 float-left px-0 px-md-3">
                                            <div class="col-md-4 float-left mb-3 mb-md-0">
                                                <label>Phone</label>
                                                <input type="text" required value="@Model.ContactPhone" id="txtMobile" name="txtMobile" placeholder="Phone" onkeypress="return isNumberKey(event);" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-12 text-right d-inline-block mt-3">
                                            <button type="button" class="btn btn-primary common-button" onclick="account.editAccountInfo()">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="card">
                            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h5 class="mb-0 d-inline-block">
                                    <button class="btn btn-link collapsed">
                                        Email & Password
                                    </button>
                                </h5>
                                <i class="fas fa-angle-down float-right mt-2"></i>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body px-0 px-md-3">
                                    <div id="emailContainer" class="col-12 form-group d-inline-block px-0 px-md-3 mb-0">

                                        <form id="frmChangeEmail">
                                            <div class="col-md-6 float-left mb-3 mb-md-0">
                                                <label>Email Address</label>
                                                <input type="text" required id="txtEmail" name="txtEmail" placeholder="Email Address" value="@Model.ContactEmail" class="form-control" />
                                            </div>

                                            <div class="col-md-6 float-left mb-3 mb-md-0 wrapper-checkbox pl-5">
                                                <label class="col-form-label w-100 d-inline-block">&nbsp;</label>
                                                <input type="checkbox" id="notify" name="notify" onchange="account.updateEmailAndPassword()" />
                                                <label class="styled-checkmark"></label>
                                                <label class="mt-1 ml-2">Opt in for deals and news</label>
                                            </div>
                                            @*<div class="col-md-6 float-left mb-3 mb-md-0">
                                <label>Confirm Email Address</label>
                                <input type="text" required id="txtEmailConfirm" name="txtEmailConfirm" placeholder="Confirm Email Address" class="form-control" />
                            </div>*@
                                        </form>
                                    </div>
                                    @*<div class="col-12 text-right d-inline-block">
                        <button type="button" class="btn btn-primary common-button" onclick="account.updateEmail()">Update</button>
                    </div>*@

                                    <div id="passwordContainer" class="col-12 form-group d-inline-block px-0 px-md-3">


                                        <form id="frmPasswordChange">
                                            <div class="col-md-6 float-left mb-3 mb-md-0">
                                                <label>New Password</label>
                                                <input type="password" required id="txtPsswrd" name="txtPsswrd" placeholder="New Password" class="form-control" />
                                            </div>

                                            <div class="col-md-6 float-left mb-3 mb-md-0">
                                                <label>Confirm Password</label>
                                                <input type="password" required id="txtPsswrdCnfrm" name="txtPsswrdCnfrm" placeholder="Confirm Password" class="form-control" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-12 d-inline-block text-right mt-3">
                                        <button type="button" class="btn btn-primary common-button" onclick="account.updateEmailAndPassword()">Update</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @*<div class="card">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h5 class="mb-0 d-inline-block">
                    <button class="btn btn-link collapsed">
                        Update Password
                    </button>
                </h5>
                <i class="fas fa-angle-down float-right mt-2"></i>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body px-0 px-md-3">


                    <div id="passwordContainer" class="col-12 form-group d-inline-block px-0 px-md-3">


                        <form id="frmPasswordChange">
                            <div class="col-md-6 float-left mb-3 mb-md-0">
                                <label>New Password</label>
                                <input type="password" required id="txtPsswrd" name="txtPsswrd" placeholder="New Password" class="form-control" />
                            </div>

                            <div class="col-md-6 float-left mb-3 mb-md-0">
                                <label>Confirm Password</label>
                                <input type="password" required id="txtPsswrdCnfrm" name="txtPsswrdCnfrm" placeholder="Confirm Password" class="form-control" />
                            </div>
                        </form>
                    </div>
                    <div class="col-12 d-inline-block text-right mt-3">
                        <button type="button" class="btn btn-primary common-button" onclick="account.changePassword()">Update</button>
                    </div>
                </div>
            </div>
        </div>*@
                        <div class="card">
                            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h5 class="mb-0 d-inline-block">
                                    <button class="btn btn-link collapsed">
                                        Order History
                                    </button>
                                </h5>
                                <i class="fas fa-angle-down float-right mt-2"></i>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body px-0 px-md-3">
                                    <div id="orderHistoryContainer" class="col-12 form-group d-inline-block px-0 px-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick="account.loadSaveVehicles()">
                                <h5 class="mb-0 d-inline-block">
                                    <button class="btn btn-link collapsed">
                                        My Vehicles
                                    </button>
                                </h5>
                                <i class="fas fa-angle-down float-right mt-2"></i>
                            </div>

                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <button type="button" class="common-orange-button px-4 float-right my-3" onclick="account.loadMyAccountVehicleAddPopup()">Add Vehicle</button><br />
                                <div class="card-body px-0 px-md-3">
                                   
                                    <div id="showSavedVehicle"></div>
                                    @*<div class="col-12 mt-0 mb-4 pr-0 text-right">
                                        <button type="button" class="common-orange-button px-4" onclick="account.loadSaveVehicles()">View Saved Vehicles</button>
                                    </div>
                                    <hr />
                                    <div id="myVehicleContainer" class="col-12 form-group d-inline-block px-0 px-md-3 mt-3">
                                        <div class="col-12 col-md-4 float-left select">
                                            <h6 class="text-uppercase mb-3">select make</h6>
                                            <select class="form-control" id="ddlMakeCustomization" onchange="getCumstomizationData(this, 'make')">
                                                <option>--Make--</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-4 mt-2 mt-md-0 float-left select">
                                            <h6 class="text-uppercase mb-3">select Model</h6>
                                            <select class="form-control" id="ddlModelCustomization" onchange="getCumstomizationData(this, 'model')" disabled>
                                                <option>--Model--</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-4 mt-2 mt-md-0 float-left select">
                                            <h6 class="text-uppercase mb-3">select year</h6>
                                            <select class="form-control" id="ddlYearCustomization" onchange="setCumstomizationData1(this)" disabled>
                                                <option>--Year--</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 mt-lg-0 py-3 d-inline-block px-0 px-lg-3" id="divVehicleDetails"></div>
                                    </div>*@
                                </div>
                            </div>
                        </div>

                        @*<div class="card">
                            <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <h5 class="mb-0 d-inline-block">
                                    <button class="btn btn-link collapsed">
                                        Add a Vehicle
                                    </button>
                                </h5>
                                <i class="fas fa-angle-down float-right mt-2"></i>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body px-0 px-md-3">
                                    <hr />
                                    <div id="myVehicleContainer" class="col-12 form-group d-inline-block px-0 px-md-3 mt-3">
                                        <div class="col-12 col-md-4 float-left select">
                                            <h6 class="text-uppercase mb-3">select make</h6>
                                            <select class="form-control" id="ddlMakeCustomization" onchange="getCumstomizationData(this, 'make')">
                                                <option>--Make--</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-4 mt-2 mt-md-0 float-left select">
                                            <h6 class="text-uppercase mb-3">select Model</h6>
                                            <select class="form-control" id="ddlModelCustomization" onchange="getCumstomizationData(this, 'model')" disabled>
                                                <option>--Model--</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-4 mt-2 mt-md-0 float-left select">
                                            <h6 class="text-uppercase mb-3">select year</h6>
                                            <select class="form-control" id="ddlYearCustomization" onchange="setCumstomizationData1(this)" disabled>
                                                <option>--Year--</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 mt-lg-0 py-3 d-inline-block px-0 px-lg-3" id="divVehicleDetails"></div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>



                </div>

            </div>
            @*<div class="col-12 d-inline-block text-right mt-3 pr-0">
                    <button type="button" class="btn btn-primary common-button px-4" onclick="account.logout()">Logout</button>
                </div>*@
            <div class="d-inline-block w-100 mb-2">
                <a class="btn btn-primary common-button float-right mt-3" refer="employment.html" href="javascript: void(0)" onclick="account.logout()">Logout</a>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Product/CommonPopupView.cshtml")

    @section scripts {
        <script>
            //account.loadAppMakeDropDown();
            //generalHandlers.getStatesByCountry('@Model.ContactCountry', '@Model.ContactStateOrTerritory');
            orderEntry.getOrders();
        </script>
    }
}
else
{
    <h3> Account not found</h3>
}








